<form [formGroup]="form" (ngSubmit)="handleSubmitNew()">
    <div>
        <label>email:</label>
        <input type="text" formControlName="email">
        <div *ngIf="email.touched && email.invalid">
            <p *ngIf="email.hasError('required')">Campo obbligatorio</p>
            <p *ngIf="email.hasError('email')">Email non valida</p>
        </div>
    </div>
    <div>
        <label>name:</label>
        <input type="text" formControlName="name">
        <div *ngIf="name.touched && name.invalid">
            <p *ngIf="name.hasError('required')">Campo obbligatorio</p>
            <p *ngIf="name.hasError('minlength')">Almeno 15 caratteri</p>
        </div>
    </div>
    <div>
        <label>lastname:</label>
        <input type="text" formControlName="lastname">
        <div *ngIf="lastname.touched && lastname.invalid">
            <p *ngIf="lastname.hasError('required')">Campo obbligatorio</p> 
            <p *ngIf="name.hasError('minlength')">Almeno 15 caratteri</p>           
        </div>
    </div>
    <div>
        <label>age:</label>
        <input type="number" formControlName="age">
        <div *ngIf="age.touched && age.invalid">
            <p *ngIf="age.hasError('required')">Campo obbligatorio</p>
            <p *ngIf="name.hasError('minlength')">Solo 2 cifre</p>
        </div>
    </div>
    <div>
        <label>password:</label>
        <input type="password" formControlName="password">
        <div *ngIf="password.touched && password.invalid">
            <p *ngIf="password.hasError('required')">Campo obbligatorio</p>
            <p *ngIf="password.hasError('minlength')">Almeno 8 caratteri</p>
        </div>
    </div>
    <div>
        <label>confirm password:</label>
        <input type="password" formControlName="confirmPassword">
        <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
            <p *ngIf="confirmPassword.hasError('required')">Campo obbligatorio</p>
            <p *ngIf="confirmPassword.hasError('minlength')">Almeno 8 caratteri</p>
            <p *ngIf="form.hasError('equal')">Le password non coincidono</p>
        </div>
    </div>
    <div>
        <button>Accedi</button>
    </div>
</form>
